@{
    ViewBag.Title = "Xác nhận Email thành công";
}

<h2>@ViewBag.Title.</h2>

<p>
    Email của bạn đã được xác nhận thành công. Bây giờ bạn có thể <a href="@Url.Action("Login", "Account")">đăng nhập</a> vào tài khoản của mình.
</p>