@{
    ViewBag.Title = "Kiểm tra Email";
}

<h2>@ViewBag.Title.</h2>

<p>
    Cảm ơn bạn đã đăng ký! Để hoàn tất, vui lòng kiểm tra Email của bạn (@ViewBag.Email) và nhấp vào liên kết xác nhận.
</p>
<p>
    Sau khi xác nhận, bạn có thể <a href="@Url.Action("Login", "Account")">đăng nhập</a> vào tài khoản của mình.
</p>